@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  margin: 1em;
}

#new-post {
  z-index: 9999;
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.bg-color-orange {
      background-color: #fff0c1 !important;
}

.bg-color-salmon {
      background-color: #f2af82 !important;
}

.bg-color-blue {
      background-color: #94b4f1 !important;
}
