{% load compress static %}

<!DOCTYPE html>

<html lang="fr">
<head>
    <title>{% block title %}Coco Helvetica Gazette{% endblock %}</title>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="description" content="Coco Helvetica Gazette meta description goes here">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
</head>

<body>
    {% block content %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
</body>
</html>

