{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ block.super }} - Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                <h1>Coco Helvetica Gazette</h1>
            </div>
        </div>
        <div class="col-8">
            <div id="filters">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <select class="form-control">
                        {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img src="{% static 'icons/calendar.svg' %}"
                                                           alt="calendar image">
                        </div>
                    </div>
                    <input type="text" class="form-control datepicker" placeholder="04.04.2020">
                </div>
            </div>
        </div>
    </div>
    <div class="card-columns">
        {% for testimonial in object_list %}
            <div class="card">
                <div class="card-body">
                    <p class="card-text">{{ testimonial.text }}</p>
                    <p class="card-text">
                        <small class="text-muted">
                            {{ testimonial.creation_date }}, {{ testimonial.get_author_gender_display|default:"Un humain" }}, {{ testimonial.author_age|default:"Ni vieux ni jeune" }}
                        </small>
                    </p>
                    {% for tag in testimonial.tags.all %}
                        <b><a href="{% url 'by_tag' tag.id %}">#{{ tag }}</a> </b>
                    {% endfor %} -- <a href="{% url 'article' testimonial.pk %}">Permalink</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="new-post" class="col-4">
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">+</div>
            </div>
            <input type="text" class="form-control" placeholder="...">
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $('.datepicker').datepicker();
    </script>
{% endblock %}
