{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block title %}{{ block.super }} - {% if tag %}{{ tag.name }}{% else %}Home{% endif %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-4">
            <div class="card-body">
                {% if tag %}
                    <h1>#{{ tag }}</h1>
                {% else %}
                    <h1>Coco Helvetica Gazette</h1>
                {% endif %}
            </div>
        </div>
        <div class="col-8">
            <div id="filters">
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <select class="form-control" onChange="window.location.href=this.value">
                        {% for tag in tags %}
                            <option value="{% url 'by_tag' tag.id %}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><img src="{% static 'icons/calendar.svg' %}"
                                                           alt="calendar image">
                        </div>
                    </div>
                    <input type="text" class="form-control datepicker" placeholder="04.04.2020">
                </div>
            </div>
        </div>
    </div>
    <div class="card-columns">
        {% for testimonial in object_list %}
            <div class="card {{ testimonial.color }}">
                <div class="card-body">
                    <p class="card-text">{{ testimonial.text }}</p>
                    <small class="text-muted">
                        <p class="card-text">
                        {{ testimonial.creation_date|localize }}, {{ testimonial.get_author_gender_display|default:"Un humain" }}, {{ testimonial.author_age|default:"Ni vieux ni jeune" }}
                        {% for tag in testimonial.tags.all %}
                            <b><a href="{% url 'by_tag' tag.id %}">#{{ tag }}</a> </b>
                        {% endfor %} -- <a href="{% url 'article' testimonial.pk %}">Permalink</a>
                        </p>
                    </small>
                    </p>
                </div>
            </div>
        {% endfor %}

    </div>

    <div id="new-post" class="col-sm-4">
        <div class="card bg-light mr-sm-1 mb-5">
            <div class="card-body">
                <p class="card-text">{% trans "Moi, pendant le confinement..." %}</p>
                <p class="card-text">
                <small class="text-muted">
                    <form action="{% url 'article-add' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" id="id_text" rows="3" name="text" placeholder="{% trans "J'écris la gazette!" %}"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_author_gender">{% trans "Je suis..." %}</label>
                            <select class="form-control" id="id_author_gender" name="author_gender">
                                {% for k,v in ArticleCreate.author_gender.field.choices|slice:"1:" %}
                                    <option value="{{ k }}">{{ v }}</option>
                                    {{ k }}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="id_age">{% trans "Mon âge:" %}</label>
                            <input name="author_age" type="number" min="0" class="form-control" id="id_age">
                        </div>
                        <button type="submit" class="btn btn-primary">{% trans "J'envoie!" %}</button>
                    </form>
                    </form>
                </small>
                </p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        $('.datepicker').datepicker();
    </script>
{% endblock %}
